<h1><span class="fa"></span> Quiz Descriptors</h1>

<hr>

<form name="qdCreateForm" class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-2">
			<button ng-disabled="qdCreateForm.$invalid" ng-click="quizDescriptors.addQuizDescriptor()" type="submit" class="btn btn-primary">Add New</button>
		</div>
		<div class="col-sm-7">
			<input type="text" class="form-control" ng-model="quizDescriptors.quizDescriptorTitle" required></input>
		</div>
	</div>
</form>
<div>
	<br>
</div>
<div>

	<ul class="quizzes">
		<li ng-repeat="quiz in quizDescriptors.quizzes">
			<span><b>{{quiz.id}}</b> </span>
			<span style="padding-right:10px;"> </span>
			<a href="/quizdescriptor/{{ quiz.id }}">{{ quiz.descriptor | limitTo: 80 }}{{quiz.descriptor.length > 80 ? '...' : ''}}</a>
		</li>
	</ul>

</div>